<div class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand">SPORTS STORE</a>
</div>

<div class="col-sm-3 p-3">
  <button class="btn btn-block btn-outline-primary"
          (click)="changeCategory()">Home</button>
  <button *ngFor="let cate of categories"
          class="btn btn-block btn-outline-primary"
          [class.active]="cate == selectedCategory"
          (click)="changeCategory(cate)" >{{cate}}</button>
</div>

<div class="col-sm-3 bg-info p-3">
  {{categories.length}} Categories
</div>
<div class="col-sm-9 p-3">
    <div *ngFor="let product of products" class="card card-outline-primary">
      <h4 class="card-header">
        {{product.name}}
        <span class="pull-xs-right tag tag-pill tag-primary">
          {{product.price | currency: "USD": true: "2.2-2"}}
        </span>
      </h4>
      <div class="card-text p-3">{{product.description}}</div>
    </div>
</div>

<div class="col-sm-9 bg-success p-3">
  {{products.length}} Products
</div>
