<!--standard method for binding class -->
<div [ngClass]="'p-a-1 ' + getClasses()">
    There are {{ getProductCount() }} products in the model
</div>

<!--special method for binding class-->
<div class="p-a-1"
     [class.bg-success]="model.getProducts().length == 5">
    There are {{ getProductCount() }} products in the models
</div>

<div class="p-a-1" [ngClass]="getClassMap(1)">
    The first product name is {{getProduct(1).name}}

</div>

<!--ngIf-->
<div *ngIf="getProductCount() > 4" class="bg-info p-a-1 m-t-1">
    There are more than 4 products in the model
</div>

<!--ngSwitch-->
<div class="bg-info p-a-1 m-t-1" [ngSwitch]="getProductCount()">
    <span *ngSwitchCase="2">There are 2 products</span>
    <span *ngSwitchCase="5">There are 5 products</span>
    <span *ngSwitchDefault>This is the default</span>
</div>

<div class="form-group m-t-1">
    <label for="input-name">Name:</label>
    <input id="input-name" class="form-control" [value]="getProduct(1)?.name || 'None'" />
</div>

<!--ngFor-->
<div class="bg-info p-a-1">
    Selected Product: {{selectedProductName || 'None'}}
</div>
<table class="table table-sm table-bordered m-t-1">
    <tr><th>Name</th><th>Category</th><th>Price</th></tr>
    <tr *ngFor="let item of getProducts(); let oddItem = odd; let i = index"
        [class.bg-primary]="oddItem"
        [class.bg-info]="!oddItem"
        [class.bg-success]="selectedProductName == item.name"
        (mouseover)="selectedProductName = item.name">
        <td>{{i + 1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.category}}</td>
        <td>{{item.price}}</td>
    </tr>
</table>
<div class="form-group">
    <label>Search Product Name:</label>
    <input #productNameVar name="search-product-name" class="form-control"
           [(ngModel)]="selectedProductName" />
</div>

<div class="form-group">
    <label>Search Product Name:</label>
    <input class="form-control"
           [(ngModel)]="selectedProductName" />
</div>

<!--ngTemplateOutlet-->
<template #titleTemplate>
    <h4 class="p-a-1 bg-success">Repeated Content</h4>
</template>

<template [ngTemplateOutlet]="titleTemplate"></template>





<!--two way binding example-->
<div class="bg-info p-a-1">
    Model data: {{jsonNewProduct}}
</div>
<form novalidate (ngSubmit)="displayNewProduct(newProduct)">
    <div class="form-group">
        <label>new Product NAME</label>
        <input #name="ngModel"
               name="new-product-name"
               class="form-control ng-pristine ng-invalid ng-touched"
               [(ngModel)]="newProduct.name"
               required
               minlength="3"
               pattern="^[A-Za-z0-9]+$"/>
        <ul class="text-danger list-unstyled"
            *ngIf="name.dirty && name.invalid">
            <li *ngIf="name.errors.required">
                This input is required!!!
            </li>
            <li *ngIf="name.errors.pattern">
                Name pattern is wrong!!!
            </li>
            <li *ngIf="name.errors.minlength">
                This name must be at least {{name.errors.minlength.requiredLength}} characters.
            </li>
        </ul>
    </div>
    <div class="form-group">
        <label>new Product CATEGORY</label>
        <input name="new-product-category" class="form-control" [(ngModel)]="newProduct.category" />
    </div>
    <div class="form-group">
        <label>new Product PRICE</label>
        <input name="new-product-price" class="form-control" [(ngModel)]="newProduct.price" />
    </div>
    <button class="btn-primary btn" type="submit">
        Create a new Product
    </button>
</form>
<style>
    input.ng-dirty.ng-invalid {
        border: 2px red solid;
    }
    input.ng-dirty.ng-valid {
        border: 2px green solid;
    }
</style>